<h4 class="flow-text">Editando <%=@store.name%></h4>


<%= render 'form', store: @store %>


<div class="center-align">
	
	<%= link_to 'Voltar', stores_path ,class: 'waves-effect waves-light btn'%>
</div>

