<div class="row">

	<h4 align="center">Nova loja</h4>

	<%= render 'form', store: @store %>

</div>
<div class="center-align">
	
	<%= link_to 'Voltar', stores_path ,class: 'waves-effect waves-light btn'%>
</div>